*{
    color : white;
}
.logo{
    border-radius : 30px;
    height : 80px;
}
.navbar{
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 0px;
    margin : 10px;
}
.nav-menu{
    display : flex;
    align-items : center;
    gap : 60px;
    list-style : none;
    font-size : 20px;
    /* added again */
    position: static;  
    height: auto;
    width: auto;
    
}
.nav-menu a{
    text-decoration : none;
    
}
.nav-connect{
    padding : 20px 40px;
    border-radius : 50px;
    background : linear-gradient(267deg, #ff8a00, #e52e71);
    font-size : 20px;
    cursor : pointer;
    transition : 0.5s;
}
.nav-connect:hover{
    background : linear-gradient(267deg, #8800ff, #2ee5a8);
    transform : scale(1.05);
    color : white;
}
.nav-connect:hover .anchor-link{
    color : white;
}
.anchor-link{
    text-decoration : none;
    color : white;
}
.anchor-link:hover{
    color : #ff8a00;
    transform : scale(1.12);
    transition : 0.5s;
}
.nav-mob-close{
    display : none;
}
.nav-mob-open{
    display : none;
}
@media(max-width : 768px){
    .navbar{
        margin : 20px 50px;
    }
    .nav-connect{
        display : none;

    }
    .nav-mob-open{
    display : block;
    position : fixed;
    right : 30px;   
    }
    .nav-mob-close{
    display :  block;
    position : relative;
    left : 290px;
    top : 30px;
    width : 30px;
    }
    .nav-menu{
    position : fixed;
    top : 0;
    flex-direction : column;
    align-items : start;
    gap : 30px;
    background : #1f0016;
    width : 350px;
    height : 100%;
    z-index : 2;
    transition : right 0.5s;
    right : -350px;
    padding-top :80px;
    }
    .nav-menu li{
    font-size : 30px;
    padding-left : 100px;
    flex-direction : row;
    gap : 20px;
}  
}

