.footer-logo{
    border-radius : 30px;
    height : 80px;
}
.user-icon{
    width: 24px;
    height: 24px;
    border-radius : 25px;
}
.footer{
    margin : 50px 170px;
    display : flex;
    flex-direction : column;
    gap : 30px;

}
.footer-top{
    display : flex;
    justify-content : space-between;
    align-items : center;
}
.footer-top-left p{
    font-size : 18px;
    font-weight : 500;
    max-width : 400px;
}
.footer-top-right{
    display : flex;
    align-items : center;
    gap : 30px;
}
.footer-email-input{
    display : flex;
    gap : 30px;
    padding : 20px 30px;
    border-radius : 50px;
    background : #32323B;
    
}
.footer-email-input:hover{
    border : 2px solid white;
    transition : 0.3s;
}
.footer-email-input input{
    outline : none;
    border : none;
    background : transparent;
    color : white;
    font-size : 18px;
    font-weight : 500;
}
.footer-subscribe{
    font-size : 18px;
    font-weight : 500;
    border-radius : 50px;
    background : linear-gradient(267deg, #ff8a00, #e52e71);
    padding : 22px 50px;
    transition : 0.3s;
    cursor : pointer;
}
.footer-subscribe:hover{
    transform : scale(1.1);
    transition : 0.3s;
}
.footer-bottom{
    display : flex;
    justify-content : space-between;
    align-items : center;
    font-size : 18px;
    margin-bottom : 50px;
}
.footer-bottom-right{
    display : flex;
    gap : 40px;
    align-items : center;

}
@media(max-width : 768px){
    .footer{
        margin : 50px 70px;
    }
    .footer-top{
        flex-direction : column;
        gap : 50px;
        align-items : start;

    }
    .footer-top-right{
        flex-direction : column;
        gap : 20px;
        align-items : start;
    }
    
    .footer-bottom{
        display : flex;
        flex-direction : column-reverse;
        gap : 20px;
        margin-bottom : 50px;
    }
}